<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstRun</key>
	<false/>
	<key>customPlaces</key>
	<false/>
	<key>minDistance</key>
	<integer>0</integer>
	<key>maxDistance</key>
	<integer>25</integer>
	<key>minFrequency</key>
	<integer>0</integer>
	<key>maxFrequency</key>
	<integer>100</integer>
	<key>minResults</key>
	<integer>3</integer>
	<key>maxResults</key>
	<integer>20</integer>
	<key>filterDistance</key>
	<real>0.5</real>
	<key>filterFrequency</key>
	<real>0.5</real>
</dict>
</plist>
